/* General styles
 * General styles
 * General styles
 * General styles
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

li {
  list-style: none;
}

nav {
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 2rem 0;
  background-color: black;
  opacity: 0.7;
}

/* Navbar styles
 * Navbar styles
 * Navbar styles
 * Navbar styles
 */

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-list a:hover {
  color: rgb(248, 210, 16);
}

/* Hero section styles
 * Hero section styles
 * Hero section styles
 * Hero section styles
 */

#hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.hero-text-box {
  min-width: 70rem;
  margin: 10rem 20rem 10rem 20rem;
  height: 30rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero-h1 {
  color: #f8d210;
  font-size: 6rem;
}

.test-p {
  color: white;
  font-size: 2rem;
  width: 40%;
  padding: 2rem 0;
  text-align: center;
}

.social-box {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.mini-icon {
  font-size: 6rem;
  color: white;
}

.mini-icon:hover {
  transition: 200ms linear;
  color: rgb(248, 210, 16);
}

.download-icon {
  font-size: 4rem;
  margin-right: 1rem;
}

.cv-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-box:hover {
  cursor: pointer;
  color: rgb(248, 210, 16);
}

.cv-text {
  font-size: 1.5rem;
}

/* Projects section styles
 * Projects section styles
 * Projects section styles
 * Projects section styles
 */

#projects {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.horizontal-line {
  width: 60%;
  border-bottom: 5px white solid;
  margin-bottom: 5rem;
  align-self: center;
}

.section-title {
  text-align: center;
  font-size: 5rem;
}

.card {
  width: 400px;
  height: 400px;
  transition: all 0.2s linear;
  margin: 7rem 10rem;
  position: relative;
}

.card1 {
  background: url("art/todo-gif.gif") center center/cover;
}

.card2 {
  background: url("art/hangman-gif.gif") center center/cover;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-text {
  position: absolute;
  top: 115%;
  left: 50%;
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
}

.container {
  margin: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Skills section styles
 * Skills section styles
 * Skills section styles
 * Skills section styles
 */

/* Contact section styles
 * Contact section styles
 * Contact section styles
 * Contact section styles
 */

#contact {
  min-height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

.contact-box {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
}

.email-icon {
  font-size: 4rem;
}

/* Media queris styles
 * Media queris styles
 * Media queris styles
 * Media queris styles
 */
